---
---

@import "{{ site.theme }}";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

header {
  display: none;
}

.link_button {
  border-radius: 20px;
  background: #262626;
  color: #ffffff;
  padding: 8px 15px 5px 15px;
}

body {
  text-align: justify
}